/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

main {
  height: 100vh;
  background-color: rebeccapurple;
}

.dashboard {
  height: 90vh;
  width: 80%;
  background-color: orange;
  border-radius: 10px;
}

.dashboard .row {
  height: 100%;
}

.header {
  background-color: #122c34;
}

.section {
  background-color: pink;
}

.header-content-one {
  height: 50%;
  color: white;
  border-radius: 10%;
  text-align: center;
}

.header-content-one img {
  width: 60%;
}

.header-content-one h2 {
  margin-top: 30px;
}

.header-content-two {
  height: 45%;
  /* color: #f2a541; */
  color: #c6ddf0;
  background-color: #224870;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 10%;
}

.header-content-two h4 {
  margin-bottom: 35px;
  font-size: 1.1rem;
}






@media all and (min-width: 768px) and (max-width:992px) {
  main {
    background-color: bisque;
  }
}


@media all and (min-width: 575px) and (max-width:767px) {
  main {
    height: auto;
    background-color: blue;
  }

  .dashboard {
    margin-top: 20px;
    height: auto;
  }

  .header {
    height: 90vh;
  }

  .section {
    height: auto;
  }

  .header-content-one {
    height: 50%;
  }

  .header-content-two {
    height: 50%;
  }

}

@media all and (max-width:574px) {
  main {
    height: auto;
    background-color: yellow;
  }

  .dashboard {
    height: 100vh;
    margin-top: 20px;
    position: relative;
  }

  .header {
    height: 60vh;

  }

  .header-content-one {
    margin-top: 10px;
    height: auto;
    position: absolute;
    top: 0;
  }

  .header-content-two {
    height: auto;
    position: absolute;
    bottom: 0;

  }

  .section {
    height: auto;
  }
}