/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

main {
  height: 100vh;
  /* background-color: rebeccapurple; */
}

.dashboard {
  /* height: 90vh; */
  height: auto;
  width: 80%;
  background-color: orange;
  border-radius: 10px;
}

.dashboard .row {
  height: 100%;
}

.header {
  background-color: #122c34;
  border-radius: 50px;
}

.section {
  background-color: pink;
}

.header-content-one {
  height: 50%;
  color: white;
  border-radius: 10%;
  text-align: center;
}

.header-content-one img {
  width: 60%;
  animation-name: moving;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes moving {
  from {
    transform: translateY(0px) rotateY(0deg);
  }

  to {
    transform: translateY(10px) rotateY(15deg);
  }
}

.header-content-one h2 {
  margin-top: 30px;
}

.header-content-two {
  height: 45%;
  /* color: #f2a541; */
  color: #c6ddf0;
  background-color: #224870;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 10%;
}

.header-content-two h4 {
  margin-bottom: 35px;
  font-size: 1.1rem;
}

.content-grid {
  height: 100%;
  background-color: seagreen;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px auto 200px;
  grid-template-areas: "greeting greeting greeting"
    "cases deaths country"
    "cases recovered country"
    "global global global";
}

.greeting {
  grid-area: greeting;
  background-color: lightsalmon;
}

.cases {
  grid-area: cases;
  background-color: red;
}

.deaths {
  grid-area: deaths;
  background-color: rebeccapurple;
}

.country {
  grid-area: country;
  background-color: bisque;
}

.recovered {
  grid-area: recovered;
  background-color: aqua;
}

.global {
  grid-area: global;
  background-color: yellow;
}







/* FOR MOBILE */

@media all and (max-width:574px) {
  main {
    height: auto;
    background-color: yellow;
  }

  .dashboard {
    height: auto;
    margin-top: 20px;
    width: 90%;
  }

  .header {
    height: 90vh;
  }

  .header-content-one {
    margin-top: 2%;
  }

  .header-content-row {
    height: auto;
    /* flex-direction: column-reverse; */
  }

  .section {
    height: auto;
  }

  .content-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "greeting greeting"
      "cases cases"
      "deaths recovered"
      "country country"
      "global global";
  }
}

/*  */






/* FOR TABLET */

@media all and (min-width: 575px) and (max-width:767px) {
  main {
    height: auto;
    background-color: blue;
  }

  .dashboard {
    margin-top: 20px;
    height: auto;
    width: 90%;
  }

  .header {
    height: 90vh;
  }

  .header-content-one {
    height: auto;
  }

  .header-content-two {
    height: auto;
  }

  .section {
    height: auto;
  }

}

/*  */


/* FOR LAPTOPS */

@media all and (min-width: 768px) and (max-width:992px) {
  main {
    height: auto;
    background-color: bisque;
  }

  .dashboard {
    height: auto;
    width: 90%;
  }

  .header{
    height: 90vh;
  }

  .content-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "greeting greeting"
      "cases cases"
      "deaths recovered"
      "country country"
      "global global";
  }
}

/*  */