/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./stock/image2.jpg");
  background-position: center;
  background-attachment: fixed;
}

main {
  height: 100vh;
  /* background-color: rebeccapurple; */
}





/* DASHBOARD */
.dashboard {
  /* height: 90vh; */
  height: auto;
  width: 80%;
  /* background-color: orange; */
  background-color: #122c34;
  border-radius: 10px;
}

.dashboard .row {
  height: 100%;
}

/*  */






/* HEADER */
.header {
  background-color: #122c34;
  border-radius: 50px;
}

.header-content-one {
  height: 50%;
  color: white;
  border-radius: 10%;
  text-align: center;
}

.header-content-one img {
  width: 60%;
  animation-name: moving;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes moving {
  from {
    transform: translateY(0px) rotateY(0deg);
  }

  to {
    transform: translateY(10px) rotateY(15deg);
  }
}

.header-content-one h2 {
  margin-top: 30px;
}

.header-content-two {
  height: 45%;
  color: white;
  background-color: #224870;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 10%;
}

.header-content-two h4 {
  margin-bottom: 35px;
  font-size: 1.1rem;
}

/*  */





/* SECTION  */
.section {
  /* background-color: pink; */
}

/*  */






/* CONTENT GRID */
.content-grid {
  height: 100%;
  /* background-color: seagreen; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px auto 200px;
  grid-template-areas: "greeting greeting greeting"
    "cases deaths country"
    "cases recovered country"
    "global global country";
}

.card {
  border-radius: 10px;
}

.greeting {
  grid-area: greeting;
  background-color: #224870;
  /* background-color: lightsalmon; */
}

.cases {
  grid-area: cases;
  /* background-color: red; */
}

.cases .card {
  box-shadow: 0 0 10px #f7b731;
}

.cases p {
  font-size: 5rem;
}

.deaths {
  grid-area: deaths;
  /* background-color: rebeccapurple; */
}

.deaths .card {
  box-shadow: 0 0 10px #eb3b5a;
}

.deaths p {
  font-size: 2rem;
}

.recovered {
  grid-area: recovered;
  /* background-color: aqua; */
}

.recovered .card {
  box-shadow: 0 0 10px #20bf6b;
}

.recovered p {
  font-size: 2rem;
}

.country {
  grid-area: country;
  /* background-color: bisque; */
}

.country .card {
  box-shadow: 0 0 10px #2d98da;
}

.country p {
  font-size: 2.4rem;
}

.global {
  grid-area: global;
  /* background-color: yellow; */
}

.global .card {
  box-shadow: 0 0 10px #8854d0;
}

.global p {
  font-size: 1.8rem;
}

/*  */




/* FOR MOBILE */
@media all and (max-width:574px) {
  main {
    height: auto;
    /* background-color: yellow; */
  }

  .dashboard {
    height: 1900px;
    margin-top: 20px;
    width: 90%;
  }

  .header {
    height: auto;
  }

  .header-content-one {
    margin-top: 2%;
  }

  .header-content-row {
    height: auto;
  }

  .section {
    height: auto;
  }

  .content-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "greeting greeting"
      "cases cases"
      "deaths recovered"
      "country country"
      "global global";
  }
}

/*  */


/* FOR TABLET */
@media all and (min-width: 575px) and (max-width:767px) {

  main {
    height: auto;
    /* background-color: blue; */
  }

  .dashboard {
    margin-top: 20px;
    height: auto;
    width: 90%;
  }

  .header {
    height: 90vh;
  }

  .header-content-one {
    height: auto;
  }

  .header-content-two {
    height: auto;
    border-radius: 5%;
  }

  .section {
    height: auto;
  }

  .content-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "greeting greeting"
      "cases cases"
      "deaths recovered"
      "country country"
      "global global";
  }

}

/*  */


/* FOR LAPTOPS */
@media all and (min-width: 768px) and (max-width:992px) {

  main {
    height: auto;
    /* background-color: bisque; */
  }

  .dashboard {
    height: auto;
    width: 90%;
  }

  .header {
    height: 90vh;
  }

  .content-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "greeting greeting"
      "cases cases"
      "deaths recovered"
      "country country"
      "global global";
  }
}

/*  */